.container-evaluados{
    width: 22%;
    min-width: 370px;
    margin: 0 auto;
    margin-top: 1em;
    height: auto;

    .prospect-card{
        width: 100%;

        .img-prospect{
            width: 80%;
            margin: 0 auto;
            height: 25vh;
        }

        .botones{
            text-align: center;
        }
    }
}