.container-ind-prospect{
    width: 60%;
    margin: 0 auto;
    margin-top: 3em;

    .prospect-card-ind{
        width: 60%;
        min-width: 465px;
        margin: 0 auto;

        .img-prospect{
            width: 80%;
            margin: 0 auto;
            height: 40vh;
        }
    }
}